# 檔案名稱 .gitignore

# directory
.vscode/
**/dist/
**/build/
**/debug/
**/report/
**/queuelogs/
**/.generated_files/
**/nbproject/Makefile-*
*.DS_Store

# files
**/MPLABXLog.xml*
xc32-*.run
xc32.tar

# 忽略所有附檔名是 bin, elf, map 的檔案
*.bin
*.elf
*.map

# 忽略 壓縮檔
BTL_Firmware.zip

.vscode/settings.json